@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.slick-slider {
  display: flex !important; 
  z-index: 0 !important;
}

@layer components {
  /* Navbar */
  .navbar {
    @apply fixed top-0 w-full transition-colors duration-150 ease-linear bg-transparent z-50;
  }

  /* Videos cards */
  .video-card_container {
    @apply bg-white h-full w-6 max-w-full px-8 py-4;
  }

  .video-card_text {
    @apply px-3 py-5;
  }

  /* Navbar links */
  .navbar-menu-links {
    @apply font-bold text-xs text-white uppercase transition-all duration-700 ease-in hover:underline hover:underline-offset-4 hover:cursor-pointer;
  }

  /* Navbar links responsive */
  .navbar-menu-links-responsive {
    @apply font-bold text-sm text-white uppercase;
  }

  /* Hero Section - pros container */
  .pros-card {
    @apply flex flex-col justify-center items-center gap-2;
  }

  /* Hero Section container - styling for background image */
  .hero-bg-image {
    @apply bg-hero-section bg-secondary bg-origin-border bg-top bg-no-repeat md:bg-cover h-full lg:h-screen;
  }

  /* Hero section tags */
  .hero-tags {
    @apply font-bold text-base text-white uppercase;
  }

  /* Purple text highlight */
  .purple-text-highlight {
    @apply font-bold text-[2rem] leading-10 text-purple;
  }

  /* CTA Card */
  .cta-card {
    @apply flex flex-col justify-center items-center text-center text-white w-52 gap-4;
  }

  /* Register CTA button */
  .register-btn {
    @apply bg-purple rounded-[22px] py-3 px-5 uppercase text-white text-sm font-semibold transition-all duration-100 ease-linear hover:bg-secondary-hover;
  }
}